<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donation Platform</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <header id="header" class="headerbar">
    <div class="navigation">
      <div class="logo">
        <!-- <h1><a href="index.html">Helpin' Hand</a></h1> -->

        <img src="css/logo.png" alt="" class="imag">
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <!-- <li><a href="services.html">Services</a></li> -->
          <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
          <!-- <li><a href="team.html">Team</a></li> -->
          <!-- <li><a href="pricing.html">Pricing</a></li> -->
          <li><a href="/">Articles</a></li>
          <li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Fundraising</a></li>
              <li><a href="#">National Sanctuary</a></li>
              <li><a href="#">Orphanage</a></li>
              <li><a href="#">Old Age</a></li>
            </ul>
          </li>
          <li><a href="/Contact">Contact Us</a></li>
         
        </ul>
      </nav>

    </div>
  </header>

  <div class="conta">
    <p class="pari">Donate to our website we are bhikari please help us</p>
  </div>

  <div class="container">
    <div class="categories">
      <div class="category">
        <h2>Category 1</h2>
        <p>Description of Category 1</p>
      </div>
      
      <div class="category">
        <h2>Category 2</h2>
        <p>Description of Category 2</p>
      </div>
      
      <div class="category">
        <h2>Category 3</h2>
        <p>Description of Category 3</p>
      </div>
      
      <div class="category">
        <h2>Category 4</h2>
        <p>Description of Category 4</p>
      </div>
      
      <div class="category">
        <h2>Category 5</h2>
        <p>Description of Category 5</p>
      </div>
      
      <div class="category">
        <h2>Category 6</h2>
        <p>Description of Category 6</p>
      </div>
    </div>
  </div>



  <script>
</script>
</body>

</html>